*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;  
  font-size: 14px;
  font-family: sans-serif;
  text-decoration: none;
}

body{
  display: flex;
  justify-content: center;
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

.igpage{
 display: flex;
 align-items: center;
 justify-content: start;
 width: 60%;
 height: 100vh;
}

.igpage__phone{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.igpage__phone img{
  height: 50rem;
}

.igpage__start{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  min-height: 34rem;
}

.igpage__start--login{
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width:100%;
  padding: 1.3rem 0;
  margin-bottom: 1rem
}

.igpage__start--login:nth-child(1){
  min-height: 25rem;
  margin-bottom: 1rem;
}



.iglogo{
  width: 30%;
}

.perfil{
  width: 25%;
  border-radius: 100%;
  overflow: hidden;
}

.continue{
  background-color: #0095f6;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  padding: 8px;

}

.remove{
  text-decoration: none;
  color: #0095f6;
}



.igpage__start--download{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 1;
}

.apps {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  
}

.app-down{
  height: 3rem;
  width: 10rem;
  background-size: cover;
}

.app-down:nth-child(1){
  background-image: url('./img/apple-button.png');
}

.app-down:nth-child(2){
  background-image: url('./img/googleplay-button.png');
}

@media(max-width:1024px){
  .igpage{
    width: 90%;
  }
}

@media(max-width:650px){
  .igpage{
    width: 90%;
  }

  .igpage__phone{
    display: none;
  }

  .igpage__start{
    width: 100%;
  }
}